.docs-navigation a {
  text-decoration:none;
  color: #5a5b5c;
}
.docs-navigation div:hover {
  background-color: #a77ad74f;
  border-radius: 15px;
  padding-left: 10px;
}
.doc-nav-button:hover {
  background-color: #a77ad7cc;
  border-radius: 15px;
  padding-left: 10px;
  color:#ffffff
}
.doc-container .title {
  font-size: 40pt;
  line-height: 40pt;
  color: #612578;
  font-weight: bold;
}
.doc-container h1 {
  font-size: 36pt;
  line-height: 36pt;
  color: #a77AD7;
}
.doc-container h2 {
  font-size: 32pt;
  line-height: 32pt;
  color: #612578;
}

.doc-container h3 {
  font-size: 24pt;
  line-height:24pt;
  margin-top:10pt;
  margin-bottom: 10pt;
}
.doc-container h4 {
  font-size: 20pt;
}