@font-face {
  font-family: "Sofia";
  font-weight: 400;
  font-style: normal;
  src: url("sofiapro-regular.otf");
  font-display: swap;
}

@font-face {
  font-family: "Sofia";
  font-weight: 500;
  font-style: normal;
  src: url("sofiapro-medium.otf");
  font-display: swap;
}

@font-face {
  font-family: "Sofia";
  font-weight: 700;
  font-style: normal;
  src: url("sofiapro-bold.otf");
  font-display: swap;
}

@font-face {
  font-family: "Sofia";
  font-weight: 700;
  font-style: italic;
  src: url("sofiapro-boldit.otf");
  font-display: swap;
}

@font-face {
  font-family: "Sofia";
  font-weight: 400;
  font-style: italic;
  src: url("sofiapro-regularit.otf");
  font-display: swap;
}

@font-face {
  font-family: "Sofia";
  font-weight: 600;
  font-style: normal;
  src: url("sofia-pro-semibold.otf");
  font-display: swap;
}